<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <%- include("./components/studentheader.ejs") %>
        <div class="container mt-4">
            <h2>All Available Courses</h2>
            <div class="row">
                <% courses.forEach(course=> { %>
                    <div class="col-md-4">
                        <div class="card mb-3">
                            <% if (course.coverImage) { %>
                                <img src="<%= course.coverImage %>" class="card-img-top"
                                    style="height:250px; object-fit:cover;">
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= course.title %>
                                        </h5>
                                        <p>
                                            <%= course.description %>
                                        </p>
                                        <p><strong>₹<%= course.price %></strong></p>
                                        <p class="text-muted">
                                            Instructor: <%= course.instructor.name %>
                                        </p>
                                        <a href="/studentCourseDetails/<%= course._id %>" class="btn btn-success btn-sm">
                                            View Course
                                        </a>
                                        <a href="/checkout/<%= course._id %>" class="btn btn-warning btn-sm">
                                            Buy Course
                                        </a>
                                    </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
        <%- include("./components/footer.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
</body>

</html>